@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=vietnamese");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
}

.main-bg {
  background: #ffde43;
  background-image: url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-view {
  height: 100vh;
  width: 100vw;
  background: #ffde43;
  color: #454545;
  font-size: 68px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  transition: all 0.5s;
  opacity: 1;
}

header {
  height: 160px;
  padding: 0 55px;
}
header .menu-items {
  font-size: 24px;
  font-weight: bold;
  margin-right: 35px;
  color: #454545;
  cursor: pointer;
}
header .menu-items.signup {
  color: #fff;
}

header .avatar {
  height: 91px;
  width: 91px;
  border-radius: 999px;
  background: #fff;
}

.main {
  height: calc(100vh - 160px);
  position: relative;
}

.main .logo {
  padding-top: 50px;
}

.main .logo .quic {
  font-size: 161px;
  color: #fff;
  font-weight: 300;
}

.main .logo .mart {
  font-size: 161px;
  color: #d32a02;
  font-weight: 700;
}

/* Options */

.main .options .option-items {
  color: #454545;
  font-weight: bold;
  font-size: 24px;
}
.main .options .option-items:nth-child(2) {
  margin: 0 62px;
}

/* Search COmponent */

.main .search-component {
  height: 80px;
  margin-top: 60px;
}

.main .search-component .hamburger {
  width: 120px;
  background: #454545;
  height: 80px;
  border-radius: 40px 0 0 40px;
  cursor: pointer;
  position: relative;
}

.main .search-component input {
  height: 80px;
  border: 0;
  background: #fff;
  width: 600px;
  padding-left: 34px;
  font-size: 18px;
  color: rgba(69, 69, 69);
  font-family: "Comfortaa";
  font-weight: bold;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}
/* mozilla solution */
input:-moz-placeholder {
  text-align: right;
}

.main .search-component input:focus {
  outline: 0;
  border: 0;
}

.main .search-component .search {
  width: 80px;
  background: #fff;
  height: 80px;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}

.main .search-component .hamburger .hover-group-items {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 100%;
  background: #454545;
  transition: all 0.4s ease;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  border-radius: 0 40px 40px 0;
}

.main .search-component .hamburger .hover-group-items .items {
  transition: all 0.4s ease;
  font-weight: bold;
}

.main .search-component .hamburger .hover-group-items .items:hover {
  color: #ffde43;
}

.main .search-component .hamburger:hover .hover-group-items {
  width: 714px;
  opacity: 1;
}

/* Menu List */

.main .menu-list {
  padding: 60px 0;
}

.main .menu-list .menu-list-items {
  height: 70px;
  background: #454545;
  font-size: 18px;
  font-weight: bold;
  margin-right: 35px;
  transition: all 1s ease;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  padding: 0 35px;
}

.main .menu-list .menu-list-items img {
  margin-left: 20px;
}

.main .menu-list .menu-list-items:last-child {
  margin-right: 0;
}

.main .menu-list .menu-list-items:hover {
  background: #d32a02;
}

.main .catalog {
  position: absolute;
  font-size: 27px;
  color: #fff;
  bottom: 45px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
.main .catalog div {
  position: relative;
  height: 100px;
}

.main .catalog img {
  bottom: 0;
  margin-top: 10px;
  position: absolute;
}

.main .catalog div span {
  transition: all 0.3s ease;
  opacity: 1;
  position: absolute;
}

.main .catalog div:hover span {
  opacity: 0;
}

.btn {
  border: 0;
  border-radius: 999px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn--yellow {
  background: #ffde43;
  height: 58px;
  font-size: 24px;
  font-weight: bold;
  color: #454545;
  width: 362px;
}

.btn--facebook {
  height: 55px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #438EFF;
  width: 362px;
  margin-bottom: 15px;
}

.btn--google {
  height: 55px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #FF4400 ;
  width: 362px;
}

.btn-x {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: 0;
  cursor: pointer;
}